In [10]:
import pandas as pd
import os
os.chdir('C:/Users/575774/Documents/project')

df=pd.read_excel('Housing_Prices_2005_2023.xlsx')
df.head

<bound method NDFrame.head of           Date  Composite_HPI_SA  Single_Family_HPI_SA  One_Storey_HPI_SA  \
0   2005-01-01             100.0                 100.0              100.0
1   2005-02-01             100.3                 100.2              100.3
2   2005-03-01             100.7                 100.6              100.7
3   2005-04-01             101.0                 100.8              101.1
4   2005-05-01             101.2                 101.0              101.3
..         ...               ...                   ...                ...
216 2023-01-01             295.8                 296.5              284.6
217 2023-02-01             293.9                 295.1              283.3
218 2023-03-01             293.3                 295.9              285.4
219 2023-04-01             299.1                 303.1              290.0
220 2023-05-01             305.4                 311.1              296.2

     Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0                100.0             100.0             100.0
1                100.1             100.3             100.6
2                100.5             100.6             101.1
3                100.6             100.8             101.5
4                100.8             101.0             102.1
..                 ...               ...               ...
216              299.3             323.9             302.7
217              298.0             322.3             298.7
218              298.1             322.6             297.3
219              305.6             326.1             299.6
220              313.2             331.1             304.0

     Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                    241000                      261300
1                    241800                      261900
2                    242600                      262800
3                    243300                      263500
4                    243800                      264000
..                      ...                         ...
216                  712800                      774800
217                  708300                      771200
218                  706800                      773300
219                  720900                      791900
220                  736000                      812900

     One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                     208700                   303900                  202500
1                     209400                   304300                  203100
2                     210100                   305300                  203700
3                     211100                   305800                  204200
4                     211500                   306400                  204600
..                       ...                      ...                     ...
216                   593900                   909600                  655800
217                   591300                   905700                  652600
218                   595600                   906000                  653300
219                   605300                   928800                  660300
220                   618200                   951900                  670400

     Apartment_Benchmark_SA
0                    174500
1                    175600
2                    176400
3                    177200
4                    178100
..                      ...
216                  528200
217                  521200
218                  518800
219                  522800
220                  530400

[221 rows x 13 columns]>

In [12]:
df.columns

Index(['Date', 'Composite_HPI_SA', 'Single_Family_HPI_SA', 'One_Storey_HPI_SA',
       'Two_Storey_HPI_SA', 'Townhouse_HPI_SA', 'Apartment_HPI_SA',
       'Composite_Benchmark_SA', 'Single_Family_Benchmark_SA',
       'One_Storey_Benchmark_SA', 'Two_Storey_Benchmark_SA',
       'Townhouse_Benchmark_SA', 'Apartment_Benchmark_SA'],
      dtype='object')

In [13]:
df.drop('Composite_HPI_SA', axis=1)
df.drop('Single_Family_HPI_SA', axis=1)
df.drop('One_Storey_HPI_SA', axis=1)
df.drop('Two_Storey_HPI_SA', axis=1)
df.drop('Townhouse_HPI_SA', axis=1)
df.drop('Apartment_HPI_SA', axis=1)

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,2005-01-01,100.0,100.0,100.0,100.0,100.0,241000,261300,208700,303900,202500,174500
1,2005-02-01,100.3,100.2,100.3,100.1,100.3,241800,261900,209400,304300,203100,175600
2,2005-03-01,100.7,100.6,100.7,100.5,100.6,242600,262800,210100,305300,203700,176400
3,2005-04-01,101.0,100.8,101.1,100.6,100.8,243300,263500,211100,305800,204200,177200
4,2005-05-01,101.2,101.0,101.3,100.8,101.0,243800,264000,211500,306400,204600,178100
...,...,...,...,...,...,...,...,...,...,...,...,...
216,2023-01-01,295.8,296.5,284.6,299.3,323.9,712800,774800,593900,909600,655800,528200
217,2023-02-01,293.9,295.1,283.3,298.0,322.3,708300,771200,591300,905700,652600,521200
218,2023-03-01,293.3,295.9,285.4,298.1,322.6,706800,773300,595600,906000,653300,518800
219,2023-04-01,299.1,303.1,290.0,305.6,326.1,720900,791900,605300,928800,660300,522800
220,2023-05-01,305.4,311.1,296.2,313.2,331.1,736000,812900,618200,951900,670400,530400