In [1]:
%time
import pandas as pd
import os
os.chdir('C:/Users/575774/Documents/project')
xls = pd.ExcelFile('Housing_Prices_2005_2023.xlsx')
df = pd.DataFrame()

for sheet in xls.sheet_names:
    sheet_df=pd.read_excel('Housing_Prices_2005_2023.xlsx', sheet_name=sheet)
    sheet_df['Location'] = sheet
    df = pd.concat([df,sheet_df])

df.head

CPU times: total: 0 ns
Wall time: 0 ns

<bound method NDFrame.head of           Date  Composite_HPI_SA  Single_Family_HPI_SA  One_Storey_HPI_SA  \
0   2005-01-01             100.0                 100.0              100.0
1   2005-02-01             100.3                 100.2              100.3
2   2005-03-01             100.7                 100.6              100.7
3   2005-04-01             101.0                 100.8              101.1
4   2005-05-01             101.2                 101.0              101.3
..         ...               ...                   ...                ...
216 2023-01-01             217.3                 222.8              234.4
217 2023-02-01             217.5                 223.2              236.0
218 2023-03-01             214.1                 219.8              231.1
219 2023-04-01             217.7                 223.2              234.0
220 2023-05-01             220.1                 225.8              235.1

     Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0                100.0             100.0             100.0
1                100.1             100.3             100.6
2                100.5             100.6             101.1
3                100.6             100.8             101.5
4                100.8             101.0             102.1
..                 ...               ...               ...
216              216.7             200.8             214.1
217              216.1             199.0             211.9
218              213.7             200.8             207.9
219              217.6             209.1             206.2
220              221.6             219.5             209.5

     Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                    241000                      261300
1                    241800                      261900
2                    242600                      262800
3                    243300                      263500
4                    243800                      264000
..                      ...                         ...
216                  322500                      333600
217                  322700                      334100
218                  317700                      329000
219                  323100                      334200
220                  326600                      338000

     One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                     208700                   303900                202500.0
1                     209400                   304300                203100.0
2                     210100                   305300                203700.0
3                     211100                   305800                204200.0
4                     211500                   306400                204600.0
..                       ...                      ...                     ...
216                   313900                   351700                260100.0
217                   316000                   350700                257700.0
218                   309400                   346800                260000.0
219                   313300                   353100                270800.0
220                   314800                   359600                284200.0

     Apartment_Benchmark_SA     Location
0                  174500.0    AGGREGATE
1                  175600.0    AGGREGATE
2                  176400.0    AGGREGATE
3                  177200.0    AGGREGATE
4                  178100.0    AGGREGATE
..                      ...          ...
216                230200.0  ST_JOHNS_NL
217                227800.0  ST_JOHNS_NL
218                223500.0  ST_JOHNS_NL
219                221700.0  ST_JOHNS_NL
220                225200.0  ST_JOHNS_NL

[13481 rows x 14 columns]>

In [2]:
df.columns

Index(['Date', 'Composite_HPI_SA', 'Single_Family_HPI_SA', 'One_Storey_HPI_SA',
       'Two_Storey_HPI_SA', 'Townhouse_HPI_SA', 'Apartment_HPI_SA',
       'Composite_Benchmark_SA', 'Single_Family_Benchmark_SA',
       'One_Storey_Benchmark_SA', 'Two_Storey_Benchmark_SA',
       'Townhouse_Benchmark_SA', 'Apartment_Benchmark_SA', 'Location'],
      dtype='object')

In [3]:
%time
df.drop('Composite_HPI_SA', axis=1)
df.drop('Single_Family_HPI_SA', axis=1)
df.drop('One_Storey_HPI_SA', axis=1)
df.drop('Two_Storey_HPI_SA', axis=1)
df.drop('Townhouse_HPI_SA', axis=1)
df.drop('Apartment_HPI_SA', axis=1)

CPU times: total: 0 ns
Wall time: 0 ns

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA,Location
0,2005-01-01,100.0,100.0,100.0,100.0,100.0,241000,261300,208700,303900,202500.0,174500.0,AGGREGATE
1,2005-02-01,100.3,100.2,100.3,100.1,100.3,241800,261900,209400,304300,203100.0,175600.0,AGGREGATE
2,2005-03-01,100.7,100.6,100.7,100.5,100.6,242600,262800,210100,305300,203700.0,176400.0,AGGREGATE
3,2005-04-01,101.0,100.8,101.1,100.6,100.8,243300,263500,211100,305800,204200.0,177200.0,AGGREGATE
4,2005-05-01,101.2,101.0,101.3,100.8,101.0,243800,264000,211500,306400,204600.0,178100.0,AGGREGATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,2023-01-01,217.3,222.8,234.4,216.7,200.8,322500,333600,313900,351700,260100.0,230200.0,ST_JOHNS_NL
217,2023-02-01,217.5,223.2,236.0,216.1,199.0,322700,334100,316000,350700,257700.0,227800.0,ST_JOHNS_NL
218,2023-03-01,214.1,219.8,231.1,213.7,200.8,317700,329000,309400,346800,260000.0,223500.0,ST_JOHNS_NL
219,2023-04-01,217.7,223.2,234.0,217.6,209.1,323100,334200,313300,353100,270800.0,221700.0,ST_JOHNS_NL
220,2023-05-01,220.1,225.8,235.1,221.6,219.5,326600,338000,314800,359600,284200.0,225200.0,ST_JOHNS_NL

In [4]:

df.describe
%time

CPU times: total: 0 ns
Wall time: 0 ns

In [5]:
df['Location']

0        AGGREGATE
1        AGGREGATE
2        AGGREGATE
3        AGGREGATE
4        AGGREGATE
          ...
216    ST_JOHNS_NL
217    ST_JOHNS_NL
218    ST_JOHNS_NL
219    ST_JOHNS_NL
220    ST_JOHNS_NL
Name: Location, Length: 13481, dtype: object

In [6]:
%time
df.drop_duplicates(inplace = True)

CPU times: total: 0 ns
Wall time: 0 ns

In [28]:

df1=df['Location'].isin(['ALBERTA'])
print(df1.index[df1])
df2 = df.drop(df.index[df1])

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       211, 212, 213, 214, 215, 216, 217, 218, 219, 220],
      dtype='int64', length=221)

In [8]:
import pyodbc
df1= df.Location.unique()
cnxn = pyodbc.connect(
    r'Driver=SQL Server;'
    r'Server=ADT230771;'
    r'Database=DWQueue;'
    r'Trusted_Connection=yes;'
    )


cursor = cnxn.cursor()
p = 'Alberta'
sql = "INSERT INTO PROVINCE (name) VALUES (?)"
cursor.execute(sql,p)


cursor.execute('select * from Province')
row = cursor.fetchone()
print(row)
cursor.close()

(1, 'Alberta')