In [1]:
import pandas as pd
import os
##os.chdir('C:/Users/575774/Documents/project')
os.chdir('C:/Users/nisha/OneDrive/Documents/project')
df = pd.read_excel('canada-inflation-rate1960-2022.xlsx')

In [2]:
df.head(20)

,Macrotrends Data Download,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Canada Inflation Rate 1960-2023,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,DISCLAIMER AND TERMS OF USE: HISTORICAL DATA I...,NaN,NaN,NaN
5,FOR INFORMATIONAL PURPOSES - NOT FOR TRADING P...,NaN,NaN,NaN
6,NEITHER MACROTRENDS LLC NOR ANY OF OUR INFORMA...,NaN,NaN,NaN
7,FOR ANY DAMAGES RELATING TO YOUR USE OF THE DA...,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN
10,ATTRIBUTION: Proper attribution requires clear...,NaN,NaN,NaN
11,"A ""dofollow"" backlink to the originating page ...",NaN,NaN,NaN
12,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN
14,NaN,,,
15,date,Inflation Rate (%),Annual Change,
16,1960-12-31 00:00:00,1.3587,NaN,NaN
17,1961-12-31 00:00:00,1.0188,-0.34,NaN
18,1962-12-31 00:00:00,1.0616,0.04,NaN
19,1963-12-31 00:00:00,1.6282,0.57,NaN

In [3]:

df.shape

(79, 4)

In [4]:
df.drop('Unnamed: 3', axis=1,inplace=True)
df.columns = df.iloc[15]
df=df.iloc[16:]
df.reset_index(drop=True, inplace=True)
df.head

<bound method NDFrame.head of 15                 date  Inflation Rate (%)  Annual Change
0   1960-12-31 00:00:00              1.3587            NaN
1   1961-12-31 00:00:00              1.0188          -0.34
2   1962-12-31 00:00:00              1.0616           0.04
3   1963-12-31 00:00:00              1.6282           0.57
4   1964-12-31 00:00:00              1.9121           0.28
..                  ...                 ...            ...
58  2018-12-31 00:00:00              2.2682           0.67
59  2019-12-31 00:00:00              1.9493          -0.32
60  2020-12-31 00:00:00               0.717          -1.23
61  2021-12-31 00:00:00              3.3952           2.68
62  2022-12-31 00:00:00                 6.8            3.4

[63 rows x 3 columns]>

In [5]:
df.shape

(63, 3)

In [6]:
df.columns

Index(['date', ' Inflation Rate (%)', ' Annual Change'], dtype='object', name=15)

In [7]:

df = df.rename(columns={' Inflation Rate (%)': 'Rate', ' Annual Change': 'Change'})
df

15                 date    Rate Change
0   1960-12-31 00:00:00  1.3587    NaN
1   1961-12-31 00:00:00  1.0188  -0.34
2   1962-12-31 00:00:00  1.0616   0.04
3   1963-12-31 00:00:00  1.6282   0.57
4   1964-12-31 00:00:00  1.9121   0.28
..                  ...     ...    ...
58  2018-12-31 00:00:00  2.2682   0.67
59  2019-12-31 00:00:00  1.9493  -0.32
60  2020-12-31 00:00:00   0.717  -1.23
61  2021-12-31 00:00:00  3.3952   2.68
62  2022-12-31 00:00:00     6.8    3.4

[63 rows x 3 columns]

In [8]:
df['Change'] = df['Change'].fillna(0.0)

In [9]:
import pyodbc

""" cnxn = pyodbc.connect(
    r'Driver=SQL Server;'
    r'Server=ADT230771;'
    r'Database=DWQueue;'
    r'Trusted_Connection=yes;'
    )
 """
cnxn = pyodbc.connect(
    r'Driver=SQL Server;'
    r'Server=DESKTOP-BN48D65\SQLEXPRESS;'
    r'Database=Housing;'
    r'Trusted_Connection=yes;'
    )
cursor = cnxn.cursor()
sql = "INSERT INTO Inflation (Date,Rate,AnnualChange) VALUES (?,?,?)"
values = list(zip(list(df['date']),list(df['Rate'].astype(float)),list(df['Change'].astype(float))))
print(values)
cursor.executemany(sql,values)
cursor.commit()
  

cursor.close()

[(datetime.datetime(1960, 12, 31, 0, 0), 1.3587, 0.0), (datetime.datetime(1961, 12, 31, 0, 0), 1.0188, -0.34), (datetime.datetime(1962, 12, 31, 0, 0), 1.0616, 0.04), (datetime.datetime(1963, 12, 31, 0, 0), 1.6282, 0.57), (datetime.datetime(1964, 12, 31, 0, 0), 1.9121, 0.28), (datetime.datetime(1965, 12, 31, 0, 0), 2.3327, 0.42), (datetime.datetime(1966, 12, 31, 0, 0), 3.8157, 1.48), (datetime.datetime(1967, 12, 31, 0, 0), 3.58, -0.24), (datetime.datetime(1968, 12, 31, 0, 0), 4.0553, 0.48), (datetime.datetime(1969, 12, 31, 0, 0), 4.5616, 0.51), (datetime.datetime(1970, 12, 31, 0, 0), 3.346, -1.22), (datetime.datetime(1971, 12, 31, 0, 0), 2.7049, -0.64), (datetime.datetime(1972, 12, 31, 0, 0), 4.988, 2.28), (datetime.datetime(1973, 12, 31, 0, 0), 7.4876, 2.5), (datetime.datetime(1974, 12, 31, 0, 0), 10.9972, 3.51), (datetime.datetime(1975, 12, 31, 0, 0), 10.6722, -0.32), (datetime.datetime(1976, 12, 31, 0, 0), 7.5417, -3.13), (datetime.datetime(1977, 12, 31, 0, 0), 7.9764, 0.43), (datetime.datetime(1978, 12, 31, 0, 0), 8.9737, 1.0), (datetime.datetime(1979, 12, 31, 0, 0), 9.1447, 0.17), (datetime.datetime(1980, 12, 31, 0, 0), 10.1292, 0.98), (datetime.datetime(1981, 12, 31, 0, 0), 12.4716, 2.34), (datetime.datetime(1982, 12, 31, 0, 0), 10.769, -1.7), (datetime.datetime(1983, 12, 31, 0, 0), 5.8636, -4.91), (datetime.datetime(1984, 12, 31, 0, 0), 4.3048, -1.56), (datetime.datetime(1985, 12, 31, 0, 0), 3.962, -0.34), (datetime.datetime(1986, 12, 31, 0, 0), 4.1948, 0.23), (datetime.datetime(1987, 12, 31, 0, 0), 4.3561, 0.16), (datetime.datetime(1988, 12, 31, 0, 0), 4.0282, -0.33), (datetime.datetime(1989, 12, 31, 0, 0), 4.9836, 0.96), (datetime.datetime(1990, 12, 31, 0, 0), 4.7805, -0.2), (datetime.datetime(1991, 12, 31, 0, 0), 5.6259, 0.85), (datetime.datetime(1992, 12, 31, 0, 0), 1.4901, -4.14), (datetime.datetime(1993, 12, 31, 0, 0), 1.8651, 0.38), (datetime.datetime(1994, 12, 31, 0, 0), 0.1656, -1.7), (datetime.datetime(1995, 12, 31, 0, 0), 2.1488, 1.98), (datetime.datetime(1996, 12, 31, 0, 0), 1.5705, -0.58), (datetime.datetime(1997, 12, 31, 0, 0), 1.6212, 0.05), (datetime.datetime(1998, 12, 31, 0, 0), 0.9959, -0.63), (datetime.datetime(1999, 12, 31, 0, 0), 1.7348, 0.74), (datetime.datetime(2000, 12, 31, 0, 0), 2.7194, 0.98), (datetime.datetime(2001, 12, 31, 0, 0), 2.5251, -0.19), (datetime.datetime(2002, 12, 31, 0, 0), 2.2584, -0.27), (datetime.datetime(2003, 12, 31, 0, 0), 2.7586, 0.5), (datetime.datetime(2004, 12, 31, 0, 0), 1.8573, -0.9), (datetime.datetime(2005, 12, 31, 0, 0), 2.2136, 0.36), (datetime.datetime(2006, 12, 31, 0, 0), 2.002, -0.21), (datetime.datetime(2007, 12, 31, 0, 0), 2.1384, 0.14), (datetime.datetime(2008, 12, 31, 0, 0), 2.3703, 0.23), (datetime.datetime(2009, 12, 31, 0, 0), 0.2995, -2.07), (datetime.datetime(2010, 12, 31, 0, 0), 1.7769, 1.48), (datetime.datetime(2011, 12, 31, 0, 0), 2.9121, 1.14), (datetime.datetime(2012, 12, 31, 0, 0), 1.5157, -1.4), (datetime.datetime(2013, 12, 31, 0, 0), 0.9383, -0.58), (datetime.datetime(2014, 12, 31, 0, 0), 1.9066, 0.97), (datetime.datetime(2015, 12, 31, 0, 0), 1.1252, -0.78), (datetime.datetime(2016, 12, 31, 0, 0), 1.4288, 0.3), (datetime.datetime(2017, 12, 31, 0, 0), 1.5969, 0.17), (datetime.datetime(2018, 12, 31, 0, 0), 2.2682, 0.67), (datetime.datetime(2019, 12, 31, 0, 0), 1.9493, -0.32), (datetime.datetime(2020, 12, 31, 0, 0), 0.717, -1.23), (datetime.datetime(2021, 12, 31, 0, 0), 3.3952, 2.68), (datetime.datetime(2022, 12, 31, 0, 0), 6.8, 3.4)]