In [1]:
import pandas as pd
import os
os.chdir('C:/Users/928996/Desktop/Capstone Project/datasets')

df = pd.read_excel("population (1).xlsx", sheet_name = "Data")
df

,When,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan
0,1946-01-01,NaN,NaN,12188000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1946-04-01,NaN,NaN,12241000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1946-07-01,NaN,NaN,12316000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1946-10-01,NaN,NaN,12393000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1947-01-01,NaN,NaN,12450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
274,2014-07-01,4120897.0,4638415.0,35543658,1280242.0,754578.0,529069.0,942387.0,13677687.0,146162.0,8214885.0,1122283.0
275,2014-10-01,4147040.0,4664222.0,35681588,1284599.0,755066.0,528903.0,943714.0,13730137.0,146491.0,8237304.0,1126567.0
276,2015-01-01,4159630.0,4666446.0,35709420,1287687.0,755004.0,528683.0,943502.0,13735130.0,146325.0,8240494.0,1129061.0
277,2015-04-01,4175701.0,4672474.0,35754786,1289489.0,754185.0,528124.0,942366.0,13752091.0,146175.0,8245896.0,1130537.0
278,2015-07-01,4196457.0,4683139.0,35851774,1293378.0,753871.0,527756.0,943002.0,13792052.0,146447.0,8263600.0,1133637.0

In [2]:
df.dropna(inplace = True)
df

,When,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan
22,1951-07-01,943000.0,1168000.0,14050000,778000.0,517000.0,362000.0,643000.0,4615000.0,99000.0,4066000.0,834000.0
23,1951-10-01,950000.0,1179000.0,14163000,784000.0,519000.0,365000.0,646000.0,4665000.0,99000.0,4095000.0,836000.0
24,1952-01-01,959000.0,1189000.0,14277000,789000.0,521000.0,368000.0,647000.0,4717000.0,100000.0,4126000.0,836000.0
25,1952-04-01,965000.0,1198000.0,14376000,794000.0,524000.0,371000.0,651000.0,4757000.0,100000.0,4153000.0,838000.0
26,1952-07-01,977000.0,1209000.0,14496000,799000.0,527000.0,375000.0,654000.0,4802000.0,100000.0,4183000.0,845000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
274,2014-07-01,4120897.0,4638415.0,35543658,1280242.0,754578.0,529069.0,942387.0,13677687.0,146162.0,8214885.0,1122283.0
275,2014-10-01,4147040.0,4664222.0,35681588,1284599.0,755066.0,528903.0,943714.0,13730137.0,146491.0,8237304.0,1126567.0
276,2015-01-01,4159630.0,4666446.0,35709420,1287687.0,755004.0,528683.0,943502.0,13735130.0,146325.0,8240494.0,1129061.0
277,2015-04-01,4175701.0,4672474.0,35754786,1289489.0,754185.0,528124.0,942366.0,13752091.0,146175.0,8245896.0,1130537.0
278,2015-07-01,4196457.0,4683139.0,35851774,1293378.0,753871.0,527756.0,943002.0,13792052.0,146447.0,8263600.0,1133637.0

In [3]:
df.drop(range(22,238), inplace=True)
df.reset_index(drop=True, inplace=True)
df

,When,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan
0,2005-07-01,3321638.0,4195764.0,32242364,1178296.0,748044.0,514315.0,937899.0,12527990.0,138064.0,7581192.0,993523.0
1,2005-10-01,3346577.0,4212306.0,32352233,1179072.0,747645.0,513714.0,938711.0,12578124.0,138127.0,7598610.0,993288.0
2,2006-01-01,3371743.0,4217814.0,32394550,1179914.0,746969.0,512551.0,938096.0,12587178.0,137907.0,7604132.0,992242.0
3,2006-04-01,3396816.0,4228013.0,32470462,1181644.0,746341.0,510960.0,937664.0,12618522.0,137847.0,7615525.0,991233.0
4,2006-07-01,3421361.0,4241691.0,32570505,1183524.0,745609.0,510584.0,937869.0,12661566.0,137865.0,7631873.0,992302.0
5,2006-10-01,3453730.0,4258216.0,32678986,1183907.0,744944.0,510316.0,937008.0,12700318.0,137895.0,7652894.0,993325.0
6,2007-01-01,3472643.0,4265161.0,32716557,1184433.0,744833.0,510326.0,936172.0,12702292.0,137783.0,7661429.0,995140.0
7,2007-04-01,3490747.0,4276777.0,32785139,1186361.0,744921.0,509121.0,934962.0,12726217.0,137715.0,7674235.0,997516.0
8,2007-07-01,3514031.0,4290988.0,32887928,1189366.0,745407.0,509039.0,935071.0,12764195.0,137721.0,7692736.0,1002048.0
9,2007-10-01,3533289.0,4312048.0,33001076,1191653.0,746115.0,510232.0,935343.0,12806584.0,138037.0,7713018.0,1007276.0
10,2008-01-01,3548699.0,4319805.0,33049761,1193399.0,746270.0,510981.0,935443.0,12813807.0,138014.0,7725359.0,1010263.0
11,2008-04-01,3567398.0,4331948.0,33126855,1194654.0,746514.0,511223.0,935611.0,12839678.0,138201.0,7740199.0,1013434.0
12,2008-07-01,3595755.0,4349412.0,33245773,1197774.0,746855.0,511543.0,935865.0,12882625.0,138764.0,7761504.0,1017346.0
13,2008-10-01,3619298.0,4371250.0,33371810,1199571.0,747756.0,513410.0,937026.0,12926563.0,139480.0,7786400.0,1022499.0
14,2009-01-01,3638623.0,4382189.0,33427285,1201724.0,748375.0,514202.0,937373.0,12931917.0,139154.0,7799190.0,1025958.0
15,2009-04-01,3659414.0,4395638.0,33511750,1204052.0,749165.0,514703.0,937424.0,12956070.0,139226.0,7817123.0,1029868.0
16,2009-07-01,3679092.0,4410679.0,33628571,1208589.0,749954.0,516729.0,938194.0,12997687.0,139909.0,7843475.0,1034782.0
17,2009-10-01,3694520.0,4431701.0,33756714,1211929.0,751064.0,518954.0,940477.0,13046751.0,140632.0,7871410.0,1039520.0
18,2010-01-01,3702578.0,4441657.0,33807668,1214008.0,751276.0,520254.0,940799.0,13057792.0,140634.0,7885853.0,1042925.0
19,2010-04-01,3715456.0,4454248.0,33889957,1216717.0,752026.0,521175.0,940905.0,13087609.0,141016.0,7903491.0,1046788.0
20,2010-07-01,3732573.0,4465924.0,34005274,1220930.0,753044.0,521972.0,942073.0,13135063.0,141678.0,7929365.0,1051425.0
21,2010-10-01,3747504.0,4483677.0,34131451,1224773.0,754294.0,522843.0,944154.0,13188726.0,142747.0,7954970.0,1056108.0
22,2011-01-01,3754621.0,4482338.0,34165913,1227261.0,754793.0,523716.0,944062.0,13198204.0,143030.0,7967128.0,1058963.0
23,2011-04-01,3768845.0,4488643.0,34230654,1229087.0,754846.0,524234.0,943917.0,13221993.0,143269.0,7982163.0,1061484.0
24,2011-07-01,3790191.0,4499139.0,34342780,1233728.0,755530.0,525037.0,944469.0,13263544.0,144038.0,8007656.0,1066349.0
25,2011-10-01,3812231.0,4518017.0,34472289,1238207.0,755971.0,526028.0,945598.0,13315800.0,144593.0,8030336.0,1071895.0
26,2012-01-01,3830341.0,4522179.0,34539679,1242398.0,756470.0,526303.0,945146.0,13339649.0,144657.0,8042659.0,1076060.0
27,2012-04-01,3856593.0,4529666.0,34621857,1245793.0,756098.0,525932.0,944730.0,13365679.0,144901.0,8057887.0,1080454.0
28,2012-07-01,3888552.0,4542578.0,34751476,1250406.0,756836.0,526895.0,944835.0,13409558.0,145259.0,8084768.0,1087223.0
29,2012-10-01,3918141.0,4560754.0,34882488,1254702.0,756915.0,527758.0,945024.0,13457367.0,145449.0,8107935.0,1093454.0
30,2013-01-01,3939437.0,4561633.0,34938672,1258434.0,756286.0,527885.0,944604.0,13476879.0,145276.0,8116672.0,1096446.0
31,2013-04-01,3969000.0,4569903.0,35022076,1261303.0,755605.0,528208.0,943439.0,13504382.0,145071.0,8129828.0,1100053.0
32,2013-07-01,4007748.0,4582607.0,35155499,1265342.0,755718.0,528017.0,942991.0,13551004.0,145441.0,8154761.0,1106122.0
33,2013-10-01,4040578.0,4605729.0,35293166,1269160.0,755630.0,528973.0,943061.0,13603613.0,145572.0,8174083.0,1111005.0
34,2014-01-01,4061774.0,4609216.0,35340422,1272220.0,755627.0,529057.0,943234.0,13613731.0,145570.0,8180012.0,1114176.0
35,2014-04-01,4088434.0,4621026.0,35420519,1275395.0,754960.0,528328.0,942393.0,13638132.0,145629.0,8191820.0,1118064.0
36,2014-07-01,4120897.0,4638415.0,35543658,1280242.0,754578.0,529069.0,942387.0,13677687.0,146162.0,8214885.0,1122283.0
37,2014-10-01,4147040.0,4664222.0,35681588,1284599.0,755066.0,528903.0,943714.0,13730137.0,146491.0,8237304.0,1126567.0
38,2015-01-01,4159630.0,4666446.0,35709420,1287687.0,755004.0,528683.0,943502.0,13735130.0,146325.0,8240494.0,1129061.0
39,2015-04-01,4175701.0,4672474.0,35754786,1289489.0,754185.0,528124.0,942366.0,13752091.0,146175.0,8245896.0,1130537.0
40,2015-07-01,4196457.0,4683139.0,35851774,1293378.0,753871.0,527756.0,943002.0,13792052.0,146447.0,8263600.0,1133637.0

In [4]:
df.rename(columns={'When':'Date'},inplace = True)
df

,Date,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan
0,2005-07-01,3321638.0,4195764.0,32242364,1178296.0,748044.0,514315.0,937899.0,12527990.0,138064.0,7581192.0,993523.0
1,2005-10-01,3346577.0,4212306.0,32352233,1179072.0,747645.0,513714.0,938711.0,12578124.0,138127.0,7598610.0,993288.0
2,2006-01-01,3371743.0,4217814.0,32394550,1179914.0,746969.0,512551.0,938096.0,12587178.0,137907.0,7604132.0,992242.0
3,2006-04-01,3396816.0,4228013.0,32470462,1181644.0,746341.0,510960.0,937664.0,12618522.0,137847.0,7615525.0,991233.0
4,2006-07-01,3421361.0,4241691.0,32570505,1183524.0,745609.0,510584.0,937869.0,12661566.0,137865.0,7631873.0,992302.0
5,2006-10-01,3453730.0,4258216.0,32678986,1183907.0,744944.0,510316.0,937008.0,12700318.0,137895.0,7652894.0,993325.0
6,2007-01-01,3472643.0,4265161.0,32716557,1184433.0,744833.0,510326.0,936172.0,12702292.0,137783.0,7661429.0,995140.0
7,2007-04-01,3490747.0,4276777.0,32785139,1186361.0,744921.0,509121.0,934962.0,12726217.0,137715.0,7674235.0,997516.0
8,2007-07-01,3514031.0,4290988.0,32887928,1189366.0,745407.0,509039.0,935071.0,12764195.0,137721.0,7692736.0,1002048.0
9,2007-10-01,3533289.0,4312048.0,33001076,1191653.0,746115.0,510232.0,935343.0,12806584.0,138037.0,7713018.0,1007276.0
10,2008-01-01,3548699.0,4319805.0,33049761,1193399.0,746270.0,510981.0,935443.0,12813807.0,138014.0,7725359.0,1010263.0
11,2008-04-01,3567398.0,4331948.0,33126855,1194654.0,746514.0,511223.0,935611.0,12839678.0,138201.0,7740199.0,1013434.0
12,2008-07-01,3595755.0,4349412.0,33245773,1197774.0,746855.0,511543.0,935865.0,12882625.0,138764.0,7761504.0,1017346.0
13,2008-10-01,3619298.0,4371250.0,33371810,1199571.0,747756.0,513410.0,937026.0,12926563.0,139480.0,7786400.0,1022499.0
14,2009-01-01,3638623.0,4382189.0,33427285,1201724.0,748375.0,514202.0,937373.0,12931917.0,139154.0,7799190.0,1025958.0
15,2009-04-01,3659414.0,4395638.0,33511750,1204052.0,749165.0,514703.0,937424.0,12956070.0,139226.0,7817123.0,1029868.0
16,2009-07-01,3679092.0,4410679.0,33628571,1208589.0,749954.0,516729.0,938194.0,12997687.0,139909.0,7843475.0,1034782.0
17,2009-10-01,3694520.0,4431701.0,33756714,1211929.0,751064.0,518954.0,940477.0,13046751.0,140632.0,7871410.0,1039520.0
18,2010-01-01,3702578.0,4441657.0,33807668,1214008.0,751276.0,520254.0,940799.0,13057792.0,140634.0,7885853.0,1042925.0
19,2010-04-01,3715456.0,4454248.0,33889957,1216717.0,752026.0,521175.0,940905.0,13087609.0,141016.0,7903491.0,1046788.0
20,2010-07-01,3732573.0,4465924.0,34005274,1220930.0,753044.0,521972.0,942073.0,13135063.0,141678.0,7929365.0,1051425.0
21,2010-10-01,3747504.0,4483677.0,34131451,1224773.0,754294.0,522843.0,944154.0,13188726.0,142747.0,7954970.0,1056108.0
22,2011-01-01,3754621.0,4482338.0,34165913,1227261.0,754793.0,523716.0,944062.0,13198204.0,143030.0,7967128.0,1058963.0
23,2011-04-01,3768845.0,4488643.0,34230654,1229087.0,754846.0,524234.0,943917.0,13221993.0,143269.0,7982163.0,1061484.0
24,2011-07-01,3790191.0,4499139.0,34342780,1233728.0,755530.0,525037.0,944469.0,13263544.0,144038.0,8007656.0,1066349.0
25,2011-10-01,3812231.0,4518017.0,34472289,1238207.0,755971.0,526028.0,945598.0,13315800.0,144593.0,8030336.0,1071895.0
26,2012-01-01,3830341.0,4522179.0,34539679,1242398.0,756470.0,526303.0,945146.0,13339649.0,144657.0,8042659.0,1076060.0
27,2012-04-01,3856593.0,4529666.0,34621857,1245793.0,756098.0,525932.0,944730.0,13365679.0,144901.0,8057887.0,1080454.0
28,2012-07-01,3888552.0,4542578.0,34751476,1250406.0,756836.0,526895.0,944835.0,13409558.0,145259.0,8084768.0,1087223.0
29,2012-10-01,3918141.0,4560754.0,34882488,1254702.0,756915.0,527758.0,945024.0,13457367.0,145449.0,8107935.0,1093454.0
30,2013-01-01,3939437.0,4561633.0,34938672,1258434.0,756286.0,527885.0,944604.0,13476879.0,145276.0,8116672.0,1096446.0
31,2013-04-01,3969000.0,4569903.0,35022076,1261303.0,755605.0,528208.0,943439.0,13504382.0,145071.0,8129828.0,1100053.0
32,2013-07-01,4007748.0,4582607.0,35155499,1265342.0,755718.0,528017.0,942991.0,13551004.0,145441.0,8154761.0,1106122.0
33,2013-10-01,4040578.0,4605729.0,35293166,1269160.0,755630.0,528973.0,943061.0,13603613.0,145572.0,8174083.0,1111005.0
34,2014-01-01,4061774.0,4609216.0,35340422,1272220.0,755627.0,529057.0,943234.0,13613731.0,145570.0,8180012.0,1114176.0
35,2014-04-01,4088434.0,4621026.0,35420519,1275395.0,754960.0,528328.0,942393.0,13638132.0,145629.0,8191820.0,1118064.0
36,2014-07-01,4120897.0,4638415.0,35543658,1280242.0,754578.0,529069.0,942387.0,13677687.0,146162.0,8214885.0,1122283.0
37,2014-10-01,4147040.0,4664222.0,35681588,1284599.0,755066.0,528903.0,943714.0,13730137.0,146491.0,8237304.0,1126567.0
38,2015-01-01,4159630.0,4666446.0,35709420,1287687.0,755004.0,528683.0,943502.0,13735130.0,146325.0,8240494.0,1129061.0
39,2015-04-01,4175701.0,4672474.0,35754786,1289489.0,754185.0,528124.0,942366.0,13752091.0,146175.0,8245896.0,1130537.0
40,2015-07-01,4196457.0,4683139.0,35851774,1293378.0,753871.0,527756.0,943002.0,13792052.0,146447.0,8263600.0,1133637.0

In [6]:
df.melt(id_vars = ['Date'],
        var_name = 'Location', 
         value_name = 'Population' )

          Date      Location  Population
0   2005-07-01       Alberta   3321638.0
1   2005-10-01       Alberta   3346577.0
2   2006-01-01       Alberta   3371743.0
3   2006-04-01       Alberta   3396816.0
4   2006-07-01       Alberta   3421361.0
..         ...           ...         ...
446 2014-07-01  Saskatchewan   1122283.0
447 2014-10-01  Saskatchewan   1126567.0
448 2015-01-01  Saskatchewan   1129061.0
449 2015-04-01  Saskatchewan   1130537.0
450 2015-07-01  Saskatchewan   1133637.0

[451 rows x 3 columns]